<div class="app-jumbrotion">
  <div class="app-jumbrotion__content">
    <div class="app-jumbrotion__logo">
      <img src="assets/images/logo_image.svg" alt="">
    </div>
    <div class="app-jumbrotion__title">NgxValidator</div>
    <div class="app-jumbrotion__subtitle">Валидация форм - это просто</div>
    <div class="app-jumbrotion__description">
      Используй директивы для упрощения процесса валидации форм.
    </div>
    <div class="app-jumbrotion__ps">Нет зависимостей от сторонних библиотек</div>
    <div class="app-jumbrotion__actions">
      <button mat-raised-button color="warn" class="app-jumbrotion__action">Начать использовать</button>
      <button mat-button color="warn" class="app-jumbrotion__action">Примеры использования</button>
    </div>
  </div>
</div>

<app-section sectionTitle="Почему именно ngxValidator?">

</app-section>
